a {
  text-decoration: none; }

* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  overflow-x: hidden; }

#plate a {
  color: #7E5E53; }

body {
  line-height: 140%;
  font-family: "roboto mono",monospace;
  background: #CF624E;
  color: #CF624E; }

#wrapper {
  perspective: 180vw;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

#plate {
  font-family: 'Fjalla One', sans-serif;
  font-size: calc(16px + 7vw);
  line-height: 120%;
  width: 90%;
  height: 85vh;
  padding: 100px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 100; }

.back {
  width: 100vw;
  -webkit-transition: background 1000ms ease;
  -moz-transition: background 1000ms ease;
  -ms-transition: background 1000ms ease;
  -o-transition: background 1000ms ease;
  transition: background 1000ms ease;
  position: relative;
  height: 10000px;
  overflow-x: hidden;
  overflow-y: hidden;
  align-items: center;
  background-color: #375383;
  padding: 30px; }

.back a {
  pointer-events: none;
  -webkit-transition: color 3000ms ease;
  -moz-transition: color 3000ms ease;
  -ms-transition: color 3000ms ease;
  -o-transition: color 3000ms ease;
  transition: color 3000ms ease;
  font-weight: 700;
  position: relative;
  z-index: 0;
  width: 100vw;
  color: #ADAAA2;
  text-align: center;
  display: block;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: calc(16px + 120vw);
  line-height: 120%;
  padding: 15px; }

.back a:hover {
  color: #ec6b2d; }

.red {
  background: #aaaaaa; }

.gradient {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); }

.gradient2 {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); }
